[submodule "third-party/ios-cmake"]
	path = third-party/ios-cmake
	url = https://github.com/aukilabs/ios-cmake.git
	branch = release/v4.5.0
[submodule "third-party/opencv"]
	path = third-party/opencv
	url = https://github.com/aukilabs/opencv.git
	branch = release/v4.11.0
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/aukilabs/glm.git
	branch = release/v1.0.0
