@import "tailwindcss";

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

button:disabled:hover {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
